    <form action='/' method='POST'>
      <p>
        Your Idea:
      </p>
      <input type='text' class="form-control" placeholder="In think..." name='idea_title'/><br/>
      <textarea class="form-control" rows="3" name='idea_description'></textarea><br/>

<label class="radio-inline">
  <input type="radio" id="inlineCheckbox2" value="primary" name='idea_type'> 
  <span class="label label-primary">work</span>
</label>
<label class="radio-inline">
  <input type="radio" id="inlineCheckbox2" value="info" name='idea_type'> 
  <span class="label label-info">life</span>
</label>
<label class="radio-inline">
  <input type="radio" id="inlineCheckbox2" value="success" name='idea_type'>
  <span class="label label-success">health</span>
</label>
<label class="radio-inline">
  <input type="radio" id="inlineCheckbox2" value="warning" name='idea_type'>
  <span class="label label-warning">read</span>
</label>
<label class="radio-inline">
  <input type="radio" id="inlineCheckbox2" value="danger" name='idea_type'>
  <span class="label label-danger">action</span>
</label>

      <div class="text-right"><input type='submit' class="btn btn-primary" /></div>
    </form>

   <h3>Existing Ideas</h3>

    <ul class="list-group">
      <% ideas.each_with_index do |idea,id| %>
        <li class="list-group-item">
          <span class="label label-<%= idea.type%>"><%= idea.type_name %></span>
          <span class="label label-default"><%= idea.title.capitalize %></span>
          <%= idea.description.capitalize %>
            <div class="text-right">
            <form action="/<%= id %>" method="POST">
              <a href="/<%= id %>/edit">Edit</a>
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" class="" value="delete"/>
            </form>
            </div>

        </li>
      <% end %>
    </ul>


